.Property {
    display: flex;
    margin-top: 15px;
    width: 800px;
    min-height: 150px;
}

.Property-image-container {
    display: flex;
    width: 250px;
    background: #F6F0F0;
    border-radius: 5px;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.Property-image {
    object-fit: contain;
    height: 100%;
    width: 95%;
}

.Property-divider {
    background: #afd4c0;
    width: 6px;
    border: none;
}

.Property-details {
    display: flex;
    border-radius: 5px;
    width: 75%;
    background: #F6F0F0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.Property-details-divider {
    width: 1px;
    height: auto;
    border: none;
    background: black;
}

.Property-about {
    width: 50%;
    margin: 10px;
}

.Property-specs {
    width: 50%;
    margin: 10px;
    color: #333333
}

.Property-specs-table {
    border-collapse: collapse;
    width: 100%;
}
.Property-specs-table th {
    text-align: left;
}
.Property-specs-table td {
    text-align: right;
}
.Property-address {
    display: flex;
    justify-content: space-between;
}
.Property-address-title {
    font-weight: bold;
}
.Property-address-value {
    text-align: right;
}
.Property-name {
    font-size: 18px;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
}
.Property-actions {
    display: flex;
    width: 20px;
    justify-content: flex-start;
    flex-direction: column;
    background: #F6F0F0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.action-icon {
    margin-bottom: 10px;
}
.action-active {
    cursor: pointer;
}
.action-active:hover {
    fill: #C63239
}   